# Compiler files
cache/
out/
!out/SIR.sol/
!out/Vault.sol/
!out/SystemControl.sol/
!out/Oracle.sol/
!out/APE.sol/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Node modules
node_modules/

# Hardhat
cache
cache_hardhat

# Others
Core.code-workspace*