.github/
.vscode/

# Compiler files
cache/
out/

# Ignores broadcast logs
broadcast

# Docs
docs/

# Dotenv file
.env

# Node modules
node_modules/

# Hardhat
cache
cache_hardhat

# Others
Core.code-workspace*